USE [master]
GO
/****** Object:  Database [PRIMJER]    Script Date: 5.3.2024. 17:28:25 ******/
CREATE DATABASE [PRIMJER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRIMJER', FILENAME = N'D:\SQLServerDB2019\PRIMJER.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRIMJER_log', FILENAME = N'D:\SQLServerDB2019\PRIMJER_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRIMJER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRIMJER]
GO
/****** Object:  Table [dbo].[ARTIKAL]    Script Date: 5.3.2024. 17:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTIKAL](
	[ID_Artikal] [int] IDENTITY(1,1) NOT NULL,
	[Naziv_Artikla] [nvarchar](50) NOT NULL,
	[Boja_Artikla] [nvarchar](50) NULL,
	[Informativna_Cijena] [nvarchar](50) NULL,
 CONSTRAINT [PK_ARTIKAL] PRIMARY KEY CLUSTERED 
(
	[ID_Artikal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KUPAC]    Script Date: 5.3.2024. 17:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KUPAC](
	[ID_Kupac] [int] IDENTITY(1,1) NOT NULL,
	[Ime_Kupca] [nvarchar](50) NOT NULL,
	[Adresa_Kupca] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KUPAC] PRIMARY KEY CLUSTERED 
(
	[ID_Kupac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RACUN]    Script Date: 5.3.2024. 17:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RACUN](
	[ID_Racun] [int] IDENTITY(1,1) NOT NULL,
	[Datum_Racuna] [date] NOT NULL,
	[Datum_Dospijeca] [date] NOT NULL,
	[Napomena] [nvarchar](50) NULL,
	[ID_Kupac] [int] NOT NULL,
	[ID_Skladiste] [int] NOT NULL,
 CONSTRAINT [PK_RACUN] PRIMARY KEY CLUSTERED 
(
	[ID_Racun] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RACUN_ARTIKAL]    Script Date: 5.3.2024. 17:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RACUN_ARTIKAL](
	[ID_Racun] [int] NOT NULL,
	[ID_Artikal] [int] NOT NULL,
	[Cijena] [int] NOT NULL,
	[Kolicina] [int] NOT NULL,
	[Rabat_Postotak] [int] NOT NULL,
 CONSTRAINT [PK_RACUN_ARTIKAL] PRIMARY KEY CLUSTERED 
(
	[ID_Racun] ASC,
	[ID_Artikal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SKLADISTE]    Script Date: 5.3.2024. 17:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SKLADISTE](
	[ID_Skladiste] [int] IDENTITY(1,1) NOT NULL,
	[Ime_Skladista] [nvarchar](50) NOT NULL,
	[Adresa_Skladista] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SKLADISTE] PRIMARY KEY CLUSTERED 
(
	[ID_Skladiste] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RACUN]  WITH CHECK ADD  CONSTRAINT [FK_RACUN_KUPAC] FOREIGN KEY([ID_Kupac])
REFERENCES [dbo].[KUPAC] ([ID_Kupac])
GO
ALTER TABLE [dbo].[RACUN] CHECK CONSTRAINT [FK_RACUN_KUPAC]
GO
ALTER TABLE [dbo].[RACUN]  WITH CHECK ADD  CONSTRAINT [FK_RACUN_SKLADISTE] FOREIGN KEY([ID_Skladiste])
REFERENCES [dbo].[SKLADISTE] ([ID_Skladiste])
GO
ALTER TABLE [dbo].[RACUN] CHECK CONSTRAINT [FK_RACUN_SKLADISTE]
GO
ALTER TABLE [dbo].[RACUN_ARTIKAL]  WITH CHECK ADD  CONSTRAINT [FK_RACUN_ARTIKAL_ARTIKAL] FOREIGN KEY([ID_Artikal])
REFERENCES [dbo].[ARTIKAL] ([ID_Artikal])
GO
ALTER TABLE [dbo].[RACUN_ARTIKAL] CHECK CONSTRAINT [FK_RACUN_ARTIKAL_ARTIKAL]
GO
ALTER TABLE [dbo].[RACUN_ARTIKAL]  WITH CHECK ADD  CONSTRAINT [FK_RACUN_ARTIKAL_RACUN] FOREIGN KEY([ID_Racun])
REFERENCES [dbo].[RACUN] ([ID_Racun])
GO
ALTER TABLE [dbo].[RACUN_ARTIKAL] CHECK CONSTRAINT [FK_RACUN_ARTIKAL_RACUN]
GO
USE [master]
GO
